<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109923875784-4dboosfh9ef3avh0ki24gb70macg91kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109923875784-4dboosfh9ef3avh0ki24gb70macg91kp</string>
	<key>API_KEY</key>
	<string>AIzaSyChH6Nlnr3DADxySB97uMs87Q0WgDaBTh0</string>
	<key>GCM_SENDER_ID</key>
	<string>109923875784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp3</string>
	<key>PROJECT_ID</key>
	<string>todoapp-fffda</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-fffda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109923875784:ios:49029ee57daa7f2e4c1efd</string>
</dict>
</plist>